@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.profile-img {
    height: 133px;
    width: 133px;
    border-radius: 7px;
    background-color: #FFF;
    margin-right: 7px;
}

.Users {
  display: flex;
  flex-direction: column;
  margin: 45px auto;
  max-width: 33rem;
}

.User {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 50% 50%;
  align-items: center;
  margin: 33px;
  border: 1px solid #333;
}

.User-header {
  padding: .7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.User-heading {
  margin-bottom: 14px;
  padding: 7px 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.User-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.User-items {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.User-item {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.Users:hover .User {
  opacity: 0.4;
  filter: blur(1px);
}

.Users .User:hover {
  position: relative;
  z-index: 2;
  opacity: 1;
  box-shadow: 0 4px 16px #ddd;
  transform: scale(1.1);
  filter: none;
}

.author {
  font-size: 17px;
  color: #7279da;
}

.follow-button {
  color: #333;
  list-style-type: none;
  text-decoration: none;
}

.follow-button:hover {
  color: #7279da;
}

.User-buttons {
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 14px;
}

.search-img {
  background-color: #fff;
  height: 33px;
  width: 33px;
  margin-right: 3px;
}

.search-input {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 14px;
  padding: 3px;
  border: .5px solid #333;
}