.body {
  display: flex;
  justify-content: center;
}

.post-body {
  font-size: 17px;
  padding: 7px;
  margin: 3px;
}

.code-block {
  background-color: #eee;
  font-size: 17px;
  font-family: monospace;
  padding: 11px;
  margin: 7px;
  border-radius: 2px;
}

.post-body-sections {
  /*  */
}

.post-body-section {
  /*  */
}