.App {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.heading {
  font-size: 33px;
  color: #333;
}

/*  Add Media Queries later  */

/* @media (min-width: 1440px) {
  .heading {
    font-size: 43px;
  }
} */